
# ====== GitHub configuration ======
GITHUB_USERNAME=john
GITHUB_TOKEN=tbd

# ====== Other configuration ======
MAX_WORKERS=10
CACHE_DIR=$HOME/cache
REPOS_CACHE_DIR=$HOME/cache/repos

# Logging
LOG_LEVEL=INFO
LOG_FILE=osslag.log